@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

/***** generic classes *****/

* {
    font-family:'Recursive', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: #FEFADC;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: antiquewhite;
    margin: 0;
    flex-wrap: wrap;
}

.intro-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 300px;
}
.intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.
.page-one {
    background: antiquewhite;
}

.page-two {
    background: antiquewhite;
}

.page-three {
    background: antiquewhite;
}

.large-font {
    font-weight: 700;
    font-size: 150px;
}

.medium-font {
    font-weight: 500;
    font-size: 65px;
}

